selenium==4.5.0
webdriver-manager
pyfiglet==0.8.post1
termcolor
selenium
pandas
beautifulsoup4
datetime
gensim
plotly
nltk
numpy
pandas
Requests
scikit_learn
seaborn
streamlit
streamlit_option_menu
torch
tqdm
transformers
vncorenlp
py_vncorenlp
emoji
underthesea
sentencepiece
wordcloud
